.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 380px;
}

.search-container {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }
  
  .right-group {
    width: 100%;
  }
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.MuiInput-underline:after {
  border-bottom-color: #b0d2f7 !important;
}

/* Search icon color */
.search-container .MuiSvgIcon-root {
  color: #b0d2f7;
}

/* Focus state for the search field */
.search-container .Mui-focused .MuiSvgIcon-root {
  color: #b0d2f7;
}